.ana{
    text-align:center;
    grid-column: 1;
    grid-row: 1/8;  
    display:grid;
  
}
.container{
    display:grid;
    align-items:stretch;
    grid-template-rows: repeat(10,1fr);
    grid-gap:2px;
    grid-template-columns: repeat(8,1fr);
}
.alt{
    grid-column: 1;
    grid-row: 8/10;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.main{
    position:relative;

}
.s5{
    grid-column:1;
    grid-row:1;
}
.c5{
    grid-column:2;
    grid-row:1;
}
.supplier{
    grid-column:3;
    grid-row:1;
}
.happy{
    grid-column:4;
    grid-row:1;
}
.anayazi{
    color: linear-gradient(red,green);
    font-size: 90px;
    color:white;
    position:absolute;
    top:400px;
    left:600px;
}
.mainnav{
    display:grid;
    grid-template-columns: repeat(9,1fr);
    top: 600px;
}
[class="nav$"]{
    background-color:rgba(122,120,125);
    color:rgba(122,120,125);
}


